<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: head"></head>
<body>
<div th:replace="fragments/template :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6" >
            <h1 class="text-center">COL 6</h1>
        </div>
        <div class="col-6" >
            <h1 class="text-center">COL 6</h1>
        </div>
    </div>

    <div class="row">
        another row
    </div>
</div>





        <!--   Core JS Files   -->
<script src="/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
        <!-- jQuery Scrollbar -->
<script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <!-- Bootstrap Notify -->
<script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
        <!-- Sweet Alert -->
<script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
        <!-- Kaiadmin JS -->
<script src="/assets/js/kaiadmin.min.js"></script>

</body>
</html>
